.container {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
  }
  
  .welcome {
    margin-bottom: 20px;
  }
  
  #main {
    margin-bottom: 20px;
    font-size: 100px;
    width: 100%;
    height: 25px;
  }
  
  #read {
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 25px;
  }

/* Utilizing Section 04.01Activities.10Stu_Timers for a skeleton.
Includes timing intervals as well as a CSS frame to build around. 
Will need to utilize the Event-Listener lesson as well as the keyboard
lesson in order to build out the questions, make them clickable, 
and record the answer.
Inquire about recording answers as this concept still eludes you and you
were not able to achieve this task on the previous assignment.
"View Highscores" -exists in the top left of screen
"Time:(numerical value)" - exists in top right corner of screen. Counts down and adjusts for incorrect answers.
Response to answer populates below the clickable answers, below the <br> or bottom border.
See 04-web-apis-homework-demo stored in the OSU coding folder on the desktop.

